*{
    margin: 0;
    box-sizing: border-box;
    background-color: #f5ece0;
    font-family: "Roboto Mono", serif;
}

a{
    text-decoration: none;
    color: black;
}

a:hover{
    text-decoration: underline;
    transition: 0.1s;
    color: #907564;
}

h1{
    font-size: 2.4rem;
    font-weight: 700;
    color: #50c878;
}

h2{
    color: #7F675B;
}

h3{
    font-size: 1rem;
    padding: 5px 0px;
}

section{
    display: flex;
    justify-content: center; 
    align-items: center; 
    height: 100vh;
}

.flex-container{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    max-width: 380px;
    padding-bottom: 10%;
} 